@model AirQualityAPI__.NetFramework.Models.Measurements

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Measurements</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RåResultat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RåResultat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enhedsnavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enhedsnavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stofnavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stofnavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datomærke)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datomærke)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Målestedsnavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Målestedsnavn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProduktId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProduktId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
