@model IEnumerable<AirQualityAPI__.NetFramework.Models.Measurements>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RåResultat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enhedsnavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stofnavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datomærke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Målestedsnavn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProduktId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RåResultat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enhedsnavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stofnavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datomærke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Målestedsnavn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProduktId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
